body {
	background-color: #1C1718;
	color: #E0E1DD;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0;
}

.username {
	display: inline;
}

.topnav {
	display: inline-block;
	width: 100%;
	font-size: 1.5rem;
	font-family: JetBrains Mono;
	font-weight: bolder;
	overflow: hidden;

	/*padding-top: 2%;*/
	/*padding-left: 20%;*/
	/*padding-right: 20%;*/
	padding-bottom: 3%;
	/*justify-content: space-between;*/
}

a, .username {
	color: #E0E1DD;
	font-size: 1.5rem;
	text-decoration: none;
	font-family: JetBrains Mono;
	font-weight: bolder;
}

.active {
	color: #72B01D;
	font-size: 1.5rem;
	font-family: JetBrains Mono;
	font-weight: bolder;
}

h1 {
	font-family: JetBrains Mono;
	font-weight: bolder;
	font-size: 3.5rem;

	padding-top: 1%;
}

.project {
	font-size: 2.7rem;
	padding-bottom: 0;
}

p, li {
	line-height: 2.3rem;
	font-family: Josefin Sans;
	font-size: 1.3rem;
}

.extras {
	padding-top: 2%;
	display: inline-flex;
	justify-content: space-between;
	line-height: 0;
}

h2 {
	text-align: center;
	font-family: JetBrains Mono;
	font-weight: bold;
}

.title {
	width: 19%;
	text-align: center;
}

hr {
	margin-top: 10%;
}

span {
	font-size: 20px;
	font-family: JetBrains Mono;
}

.icon {
	float: right;
	width: 30px;
	height: 30px;
	padding-left: 30px;
}

@media (max-width: 1500px) {
	body {
		padding: 10px;
		margin: 0;
		font-size: 1rem;
	}

	.extras {
		width: 100%;
		display: block;
	}

	.title {
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
	}

	.socials {
		margin-bottom: 50px;
	}

	.icon{
		width: 20px;
		height: 20px;
	}
}
